:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --extraLg: 22px;


    /* Ventana POP */
    --pop-background: #c1bdba;
    --form-background: #13232f;
    --white: #ffffff;
    --popGrey-light: #a0b3b0;
    --main: #1ab188;
    --font-family-form: 'Titillium Web', sans-serif;
}

body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    

}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
/*  Hidden */
.hidden{
    display: none !important;
}

/* Titulo Principal */
#tituloPrincipal{
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

/* contenedor */

.contenedor{
    width: 50%;
    height: 600px;
    background-color: var(--text-input-field);
    border: 1px solid var(--hospital-green);
    box-shadow: 1px 1px 4px 4px var(--hospital-green);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    

}

.contenedor .lista{
    width: 90%;
    height: 70%;
    background-color: var(--white);
    border: 2px solid var(--black);
    overflow: auto;
}

.contenedor .lista .parrafos{
    border-bottom: 1px solid var(--black);
    padding: 15px;
    
    margin: 0;
    display: block;
    text-decoration: none;
    font-weight: 500;
    color: var(--black);
    transition: all .3s;
}
.contenedor .lista .parrafos:hover{
    background-color: var(--hospital-green);
    
}



/* Boton contactame */

#Contactame{
    background-color: var(--text-input-field);
    border: 3px solid var(--hospital-green);
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 15px 25px;
    font-size: var(--md);
    font-family: 'Quicksand', sans-serif;
    transition: all .6s;

}

#Contactame:hover{
    background-color: var(--hospital-green);
    cursor: pointer;
    
}

.fondoVentana{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(128, 128, 128, 0.349);
    display: flex;
    align-items: center;
    justify-content: center;
}

.fondoVentana .ventanaContacto{
    width: 700px;
    height:700px;
    background-color: var(--form-background);
    color: white;
    border: 3px solid var(--main);
    
}

/* contenido de la ventana */
.ventanaContacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-family-form);

}
#cerrar{
    display: inline-block;
    position: relative;
    left: 310px;
    top: 10px;
    font-size: 30px;
    

}

#cerrar:hover{
    cursor: pointer;
    color: var(--hospital-green);
}
.tituloContacto{
    padding-bottom: 20px;
}

.contenedorImagenes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    
    
}

.contenedorImagenes img{
    width: 60px;
}
#logoPlatzi{
    width: 140px;
    border-radius: 20px;
    
}
#platziLogoa{
    grid-column: 4/5;
}
#whatsLogoA{
    grid-column: 2 / 3;
}

#linea{
    border-width: 10px;
    position: relative;
    width: 100%;
    background-color: white;
}
/* Media querys */

@media (max-width: 668px) {
    #tituloPrincipal{
        font-size: 25px;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    .contenedor{
        width: 90%;
        height: 500px;
    }
    .contenedor .lista .parrafos{
        padding-top: 15px;
        padding-bottom: 15px;
    }
}